.progress{
   /*  background-color: antiquewhite; */
    width: 85vw;
    height: 14.55rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    .table{
        display: flex;
        flex-direction: column;
        margin-top: 1.04rem;
        background-color: #FFFFFF;
        width: 11.2rem;
        height: 7.28rem;
        box-shadow: 0.08rem 0.08rem 0.06rem 0.01rem rgba(0,0,0,0.1600);
        border-radius: 0.24rem 0.24rem 0.24rem 0.24rem;

        .tt{
            width: 100%;
            height: 1.04rem;
            border-top-left-radius: 0.24rem;
            border-top-right-radius: 0.24rem;
            background-color: #FFF199;
            font-size: 0.36rem;
            line-height: 1.04rem;
            text-align: center;
            font-family: Microsoft YaHei-Bold, Microsoft YaHei;
            font-weight: bold;
            color: #272727;
        }
        .div{
            width: 100%;
            height: 1.04rem;
            display: flex;
            flex-direction: row;
        }
        .div_a{
            .div();
            background-color: #F2F2F2;
        }
        .div_b{
            .div();
            background-color: #FFFFFF;
        }
        .div_bt{
            .div();
            background-color: #FFFFFF;
            border-bottom-left-radius: 0.24rem;
            border-bottom-right-radius: 0.24rem;
        }
    }

}
.table .left{
    display: flex;
    justify-content: center;
    width: 2.76rem;
    height: 1.04rem;
    font-weight: bold;
    border-right: 1px solid #CBCBCB;
    font-size: 0.36rem;
    line-height: 1.04rem;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    //font-weight: bold;//font-weight: 400;
    color: #272727;
}
.table .right{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 8.44rem;
    height: 1.04rem;
    font-weight: 400; 
    font-size: 0.36rem;
    line-height:1.04rem;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    //font-weight: bold;//font-weight: 400;
    color: #272727;
}